

body {
    background-image: url('../Images/Blood moon.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
  display: inline;
}   

  h1 {
    text-align: center;
    color: #d6abd5;
    font-size: 24px;
    flex-shrink: 0;
    display: flex;
  }
   
#title-container {
  background-image: linear-gradient(180deg, #d68d0f, black);
  justify-content: center;
  border-radius: 50%; 
  display: flex;
  font-family: 'Press Start 2P', cursive;
}
  .container {
    display: flex;
    width: 400px;
    margin: 20px auto;
    justify-content: center;
  }

  #start-game-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    border-radius: 20%;
    background-color: #8a7171;
    flex-shrink: 0;
  }

 #game-area {
   border-radius: 8%;
   border-style: solid;
 }

 #canvas-container {
   text-align: center;
   width: 100%;
   display: inline-block;
   position: relative;
 }

  .health-bar {
    background-color: #8a7171;
    position: absolute;
    width: 70px;
  }

  h6 {
    font-size: 9px;
    font-family: 'Press Start 2P', cursive;    
    margin: 0;
    border-style: ridge;
  }

 #heroHealth {
   margin-top: 32.2%;
   margin-left: 33%;
 }

 #enemyHealth {
  margin-top: 32.2%;
  margin-left: 61%;
}


.dialogue {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}
  
.dialogue-box {
  background-color: #8a7171;
  width: 450px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12%;
  border-style: groove;
  text-align: center;
  overflow: scroll;
  font-family: 'Press Start 2P', cursive;
  }

 .hidden {
   display: none;
 }
